.jobdescription{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.11);
    margin-top: 10px;
    color: white;
    background-image: url("https://pics.craiyon.com/2023-10-15/ffcec309771f4a7f88ae5fbebc208398.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: block;
    height: auto;
    border-radius: 40px;
    margin-bottom: 20px;
    
    h7{
        color: white;
        font-size: xx-small;
    }

    .experience{
        margin-left: 25px;
    }

    .jobidreply{
        display: flex;
        margin-left: 25px;
        margin-bottom: 15px;
    }
    .jobtitlereply{
        font-size: 40px;
        margin-left: 25px;
    }
    .jobreplylocation{
        margin-left: 25px;
    }
    .jobreplysalary{
        margin-left: 25px;
    }
    .jobCategory{
        margin-left: 25px;
    }
    .totalapplicants{
        margin-left: 25px;
    }
    
}

.downloadButton{
background: #1e85f7;
color: white;
border-radius: 15px;
height:  30px;
border: none;
padding: 10px 20px;
box-shadow: rgba(0, 0, 0, 0.11);
margin-right: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
transition: box-shadow 0.3s ease; 
align-items: center;
justify-content: center;
text-align: center;
margin-top: 5px;
}
.locationDetails{
    margin-left: auto;
    margin-right: 1px;
}
.actionbuttons{
    display: grid;
    margin-left: 20%;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.contactButton{
    background: #f8b014;
    color: white;
    border-radius: 15px;
    height:  30px;
    border: none;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.11);
    margin-right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
    align-items: center;
    justify-content: center;text-align: center;
    margin-top: 5px;

}
.profileImage{
    height: 50px;
    border-radius: 20%;
}

.deleteButton{
    background: red;
    color: white;
    border-radius: 15px;
    height:  30px;
    border: none;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.11);
    margin-right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
    align-items: center;
    justify-content: center;text-align: center;
    margin-top: 10px;
}

.pr-12 {
    padding-right: 12px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.b-1 {
    border: 1px solid #ebebeb !important;
}

.card {
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    -webkit-transition: .5s;
    transition: .5s;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.media .avatar {
    flex-shrink: 0;
}

.no-radius {
    border-radius: 0 !important;
}

.avatar-xl {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 1.25rem;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.mb-2 {
    margin-bottom: .5rem!important;
}

.fs-20 {
    font-size: 20px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fs-16 {
    font-size: 16px !important;
}

.media-body>* {
    margin-bottom: 0;
}

small, time, .small {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #8b95a5;
}

.fs-14 {
    font-size: 14px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.text-fade {
    color: rgba(77,82,89,0.7) !important;
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.card-footer {
    background-color: #fcfdfe;
    border-top: 1px solid rgba(77,82,89,0.07);
    color: #8b95a5;
    padding: 10px 20px;
}

.flexbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}


.card-footer {
    background-color: #fcfdfe;
    border-top: 1px solid rgba(77, 82, 89, 0.07);
    color: #8b95a5;
    padding: 10px 20px
}

.card-footer>*:last-child {
    margin-bottom: 0
}

.hover-shadow {
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.11)
}

.fs-10 {
    font-size: 10px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.nav-links{
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

.apptitlenavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e85f7;
    margin-bottom: 10px;
    margin-top: 10px;

    .logotitle{
        font-size: 40px;
        font-weight: 700;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }
    .com{
        margin-top: 15px;
    }

}
.selectionbuttonscontainer{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.selectedbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .togglebuttonselected{
        height: 40px;
        width: 200px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.11);
        color: white;
        background-color: #1e85f7;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .togglebuttons{
        height: 40px;
        width: 200px;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.11);
        color: #1e85f7;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        border-radius: 20px;
    }
    .togglebuttons:hover{
        background-color: #787ff6;
        color: white;
    }
}